.container{
    width: 70%;
    margin: 2% auto;
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
}

body{
    background-image: url("../img/hojas.jpg");
}

/* ----- HEADER ----- */
header,  #menu, img{
    width: 100%;
}

.logo, #menu{
    text-transform: uppercase;
}

.logo{
    background: #265c3e;
    padding: 0.5%;
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;
    width: 40%;
}

.logo, #menu a{
    color: #ffffff;
}

 #menu{
    background: #333333;
    padding: 0;
}

#menu ul{
    list-style: none;
}

#menu ul li{
    display: inline-block;
    padding: 2%;
}

#menu a{
    text-decoration: none;
    display: block;
}

#menu li:hover{
    background: #265c3e;
    cursor: pointer;
}

/* ----- ARTICLE ----- */
#posts{
    width: 70%;
}

#posts article{
    margin: 2% 0;
}

.article-title{
    font-weight: bold;
    font-size: 25px;
}

.article-header{
    display: flex;
    margin-bottom: 1.5%;
}

.article-date{
    color: #a19f95;
}

.article-info{
    width: 80%;
    float: left;
}

.article-commentaries{
    color: #ffffff;
    background: #265c3e;
    width: 20%;
    padding-top: 15px;
    float: left;
    text-align: center;
}

/* ----- SIDEBAR ----- */
#sidebar{
    width: 28%;
    margin-left: 2%;
}

#posts, #sidebar{
    float: left;
}

#about h3{
    text-align: center;
    line-height: 10px;
    margin-top: 50px;
}